# Gradle
.gradle/
build/

# IDE
.idea/
*.iml
.DS_Store

# Kotlin
*.class
*.war

# Jars (except gradle wrapper)
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Local config
local.properties
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-content-negotiation-3.1.1-commonMain-JOFagw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-content-negotiation-3.1.1-posixMain-JOFagw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.1.1-commonMain-dLC3Pw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.1.1-nonJvmMain-dLC3Pw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.1.1-posixMain-dLC3Pw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-darwin-3.1.1-darwinMain-JqJ6pQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-logging-3.1.1-commonMain-_iHxAg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-logging-3.1.1-posixMain-_iHxAg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-websockets-3.1.1-commonMain-jgxxOQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-events-3.1.1-commonMain-6BUpyw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-3.1.1-commonMain-C60_2Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-3.1.1-posixMain-C60_2Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-cio-3.1.1-commonMain-xKLg5Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-cio-3.1.1-jvmAndPosixMain-xKLg5Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-cio-3.1.1-posixMain-xKLg5Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.1.1-commonMain-BVK8tg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.1.1-darwinMain-VebtWA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.1.1-jvmAndPosixMain-BVK8tg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.1.1-posixMain-BVK8tg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.1.1-commonMain-2XjaBA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.1.1-darwinMain-B693-Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.1.1-iosMain-B693-Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.1.1-nixMain-2XjaBA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.1.1-nonJvmMain-2XjaBA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.1.1-posixMain-2XjaBA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-tls-3.1.1-commonMain-bttVYA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-tls-3.1.1-nonJvmMain-bttVYA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-3.1.1-commonMain-ap7BlQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-3.1.1-commonMain-vCvDRA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-3.1.1-posixMain-vCvDRA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-json-3.1.1-commonMain-CQrDiQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-json-3.1.1-posixMain-CQrDiQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-sse-3.1.1-commonMain-Sy69FA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.1.1-commonMain-Hp2p2g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.1.1-darwinMain-KiCD0Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.1.1-nixMain-Hp2p2g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.1.1-posixMain-Hp2p2g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websocket-serialization-3.1.1-commonMain-4lwwjQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-3.1.1-commonMain-WQyQMg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-3.1.1-posixMain-WQyQMg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-stdlib-2.1.10-commonMain-ITmP6A.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-test-2.1.10-annotationsCommonMain-D3q3YQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-test-2.1.10-assertionsCommonMain-D3q3YQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-atomicfu-0.23.1-commonMain-wFq7cg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-atomicfu-0.23.1-nativeMain-wFq7cg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.10.1-commonMain-KUhp4Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.10.1-concurrentMain-KUhp4Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.10.1-nativeDarwinMain--jzUgA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.10.1-nativeMain-KUhp4Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.2-commonKotlinMain-fgfANw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.2-commonMain-fgfANw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.2-darwinMain-O4UcJA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.2-nativeMain-fgfANw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.2-tzdbOnFilesystemMain-fgfANw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.2-tzfileMain-fgfANw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-bytestring-0.6.0-appleMain-Pv9upw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-bytestring-0.6.0-commonMain-ptgxIQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-bytestring-0.6.0-nativeMain-ptgxIQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.6.0-appleMain-BOEJjg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.6.0-commonMain-Ctrzpg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.6.0-nativeMain-Ctrzpg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.6.0-nativeNonAndroidMain-Ctrzpg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.8.0-commonMain-tao8ug.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.8.0-nativeMain-tao8ug.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-1.8.0-commonMain-sWF2lQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-1.8.0-nativeMain-sWF2lQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-io-1.8.0-commonMain-YDa3rA.klib
